.carrito {
  width: 110rem;
  /* height: 25rem; */
  background-image: url('/luces.jpg');
  background-position: 0 50%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
}



.titular-carrito {
  display: flex;
  flex-direction: column;
}

@media (max-width: 1200px) {
  .no-ver {
    visibility: hidden;
  }
}