.estilo-carrito{
  width: 90vw;
  /* background-image: url('/poca-luz-02.jpeg'); 
  /* background-repeat: no-repeat;
  /* background-size: 75vw;
  /* background-clip: border-box; */
}

.titular-carrito {
  display: flex;
  flex-direction: column;
}

@media (max-width: 1200px) {
  .no-ver {
    visibility: hidden;
  }
}