.estilo-login {
    width: 120rem;
    height: 25rem;
    padding: 50px;
    background-image: url('/luces.jpg');
    background-position: 0 50%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
  }