.formulario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    gap: 1rem;
    /* padding: 0 40%; */
    /* width: 50%; */
    /* background-color: red; */
    /* margin-top: 33%; */
}

#email, #password {
    padding: 1rem;
    border-radius: 5px;
    background-color: lightgray;
    /* width: 90%; */
}

#login-error {
    background-color: red;
    text-align: center;
    color: white;
    font-size: large;
    padding: 1rem;
    border-radius: .5rem;
}