.home {
  margin-top: 0rem;
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.banner {
  width: 100%;
  height: 25rem;
  background-image: url('/banner-pizza.jpeg');
  background-position: 0 50%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
}

.cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}

ul {
    content: '';
  }
  
  ul li {
    padding-left: 2.5rem;
    margin-top: .125rem;
    text-align: start;
    list-style: none;
    background-image: url('/pizza.png');
    background-position: 0 50%;
    background-size: 1rem 1rem;
    background-repeat: no-repeat;
  }